*{
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
}

.App{
  border: 2px solid black;
  width: 100vw;
  height: 100vh;
  background-color: #c57aff;
  display: grid;
}

.main-section{
  width: 500px;
  height: 500px;
  border: 2px solid black;
  place-self: center;
  background-color: white;
}
