*{
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
}

.App{
  width: 100vw;
  height: 100vh;
  display: grid;
}

.main-section{
  width: 70%;
  height: 70%;
  border: 2px solid black;
  place-self: center;
  background-color: white;
}


.main-btn{
  position: relative;
  left: 90%;
  bottom: 15%;
}

.main-circle{
  width: 450px;
  height: 450px;
  border: 2px solid black;
  margin: auto;
  border-radius: 50%;
  position: relative;
  line-height: 1.2;
}

.quote{
  position: absolute;
  bottom: 50%;
  left: 10%;
  width: 80%;
  text-align: center;
  overflow-wrap: break-word;
}

