*{
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
}

.App{
  width: 100vw;
  height: 100vh;
  display: grid;
}

.main-section{
  width: 100%;
  height: 100%;
  border: 2px solid black;
  place-self: center;
  background-color: white;
  position: relative;
}


.main-btn{
  position: fixed;
  top: 5%;
  left: 85%;
}

.main-circle{
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 450px;
  height: 450px;
  margin: auto;
  top: 15%;
  border-radius: 50%;
  position: relative;
  line-height: 1.2;
}

.quote{
  position: absolute;
  bottom: 45%;
  left: 10%;
  width: 80%;
  text-align: center;
  overflow-wrap: break-word;
}

.author-name{
  position: absolute;
  bottom: 40%;
  left: 10%;
  width: 80%;
  text-align: center;
}

.footer-credit{
  position: fixed;
  top: 90%;
  margin-left: 10px;
  background-color: white;
  width: 180px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

a:link{
  color: black;
  text-decoration: underline;
}

a:visited{
  color: gray;
}

a:hover{
  color: darksalmon;
}

